.first-big-box {
    border: none;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.text-one-in {
    width: auto;
    text-align: center;
    margin: 0 1rem 0 1rem;
    user-select: none;
}

.text-one-in p {
    font-size: 3.3rem;
    color: white;
    text-shadow: blue 1px 1px 2px;
    transition: all 200ms;
}

.text-two-in {
    max-width: 600px;
    text-align: center;
    user-select: none;
}

.text-two-in p {
    color: white;
    font-size: 1.3rem;
    margin: 0 1rem 0 1rem;
}

.blue {
    color: rgb(255, 255, 255);
    border-bottom:  2px dashed blue;
    border-top:  2px dashed blue;
    border-radius: 5px;
}

.box-btn-projects {
    margin-top: 4rem;
    height: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.btn-projects {
    height: fit-content;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    background-color: blue;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    user-select: none;
    box-shadow: 3px 2px 1px 0 rgba(233, 233, 233, 0.356);
    border-radius: 5px;
}

.btn-projects:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(233, 233, 233, 0.356), inset 1px 1px 2px 0 rgba(0, 0, 0, 0.664);
    margin-left: 4px;
    margin-top: 3px;
}

@media screen and (max-width:570px) {

    .box-btn-projects {
        margin-top: 3rem;
    }
}

@media screen and (max-width:450px) {

    .text-one-in p {
        font-size: 2.5rem;
    }

    .text-two-in p {
        font-size: 1.1rem;
    }

    .box-btn-projects {
        margin-top: 2rem;
    }
}