.second-big-box {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-box-projects {
    margin-top: 60px;
    margin-bottom: 30px;
    min-height: 73px;
    max-height: 73px;
    border: 1px solid white;
}

.title-box-projects p {
    color: white;
    font-size: 46px;
    padding: 0.4rem;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 5px 0 0 gray;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

.title-box-projects p:hover {
    margin-top: 5px;
    box-shadow: 0 0 0 0 gray;
}

.projects-box {
    color: white;
}

.project-1 .title {
    border: 1px solid white;
}

.test-box {
    height: 100px;
    border: 1px solid white;
}

@media screen and (max-width:910px) {
    .title-box-projects p {
        font-size: 2rem;
    }
}

@media screen and (max-width:450px) {
    .title-box-projects p {
        font-size: 1.7rem;
    }
}